.progress-bar {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--border);
  background-color: var(--muted-background);
  height: 10px;

  &.slim {
    height: 4px;
  }

  .entry {
    height: 10px;
  }
}
