<main class="p-x4">
  @if(system(); as currentSystem){
  <div class="d-flex justify-content-between p-y4 gap-4">
    <h1>
      <button routerLink="../..">Back</button
      ><span>
        {{ currentSystem.name }}
      </span>
    </h1>
  </div>
  <app-progress-card variant="Wide" [progress]="progresses()"></app-progress-card>
  <div class="d-flex justify-content-between p-y4">
    <h2>Fractions</h2>
    <button class="btn btn-primary" (click)="addFraction.open()">Add Fraction</button>
  </div>
  <div>
    <div class="grid-4 gap-4">
      @for (fraction of system()?.fractions??[]; track $index) {
      <div class="g-col">
        <app-progress-card
          [name]="fraction.name"
          [progress]="getFractionProcess(fraction)"
        ></app-progress-card>
        <app-unit-accordion
          [units]="fraction.units"
          [systemId]="id() ?? ''"
          [fractionId]="fraction.name"
        ></app-unit-accordion>
      </div>

      }
    </div>
  </div>
  }
</main>

<app-add-fraction-modal #addFraction [systemId]="id() ?? ''"></app-add-fraction-modal>
