<main class="p-x4">
  <div class="d-flex justify-content-between p-y4 gap-4">
    <div>
      <h1>Pile of shame</h1>
      <p class="muted-text">
        Keep track of your achievements and on your evergrowing pile of shame.
      </p>
    </div>
    <div>
      <a class="btn btn-ghost" routerLink="settings"
        ><i class="bi bi-gear m-r2"></i>Settings</a
      >
    </div>
  </div>
  <div class="d-flex justify-content-between p-y4">
    <h2>Overall</h2>
  </div>
  <app-progress-card
    variant="Wide"
    [progress]="progresses()"></app-progress-card>
  <div class="d-flex justify-content-between p-y4">
    <h2>Systems</h2>
  </div>
  <div class="grid gap-4">
    @for (system of data(); track $index) {
      <div class="g-col xs12 md6 lg3">
        <a routerLink="systems/{{ system.id }}">
          <app-progress-card
            [name]="system.name"
            [progress]="getProcesses(system)"></app-progress-card>
        </a>
      </div>
    }
    <div class="g-col xs12 md6 lg3 d-flex">
      <button (click)="addSystem.open()" class="btn w100 add-button">
        Add system
      </button>
    </div>
  </div>
</main>

<app-add-system-modal #addSystem></app-add-system-modal>
