<div class="background-layer" [ngClass]="{ hidden: !visible }">
  <div class="modal">
    <div class="modal-header">
      <div class="d-flex justify-content-between">
        <span class="h1"> Add System </span>
        <button class="btn btn-ghost" (click)="visible = false"><i class="bi bi-x-lg"></i></button>
      </div>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (submit)="submit()">
        <div class="input-row">
          <label for="system-name">Name</label>
          <input id="system-name" type="text" formControlName="name" />
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex gap-4 justify-content-end">
      <button class="btn btn-secondary" (click)="visible = false">Cancel</button>
      <button class="btn btn-primary" (click)="submit()" [disabled]="form.invalid">Submit</button>
    </div>
  </div>
</div>
