@use './abstracts/theme';
@use './base/spacings';
@use './base/grid';
@use './base/size';
@use './base/reboot';
@use './base/typography';

@use './components/button';
@use './components/card';
@use './components/progress';
@use './components/lists';
@use './components/modal';
@use './forms/index';
//
@import 'bootstrap-icons/font/bootstrap-icons.css';

a .card:hover {
  -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.4);
  margin-top: -5px;
  margin-bottom: 5px;
}

body {
  background-color: var(--base-background);
  color: var(--base-foreground);
}

.circle {
  border-radius: 50%;
}
